<footer class="bg-dark text-center text-white" id="about">
  <!-- Grid container -->

  <div class="container p-4">
    <!-- Section: Social media -->
    <h3 class="text-uppercase">Зворотній зв'язок</h3>

    <section class="  mb-4">
      <a class="col-4 btn btn-outline-light btn-floating m-3" href="tel:+380900900900" role="button">
        <i class="fas fa-phone fs-3 "></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-3" href="mailto:boxes.lviv@ukr.net" role="button">
        <i class="fas fa-at fs-3"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-3" href="https://t.me/nazar4367" role="button">
        <i class="fab fa-telegram text-primary fs-3"></i>
      </a>
    </section>
    <!-- Section: Social media -->



    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Дякуєм за довіру!
      </p>
    </section>
    <!-- Section: Text -->
    <h6 class="text-uppercase">Використані технології</h6>
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">


          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://jquery.com" class="text-info">jQuery</a>
            </li>
            <li>
              <a href="https://getbootstrap.com" class="text-info">Bootstrap</a>
            </li>
            <li>
              <a href="https://github.com/mickelsonmichael/js-snackbar" class="text-info">JS-Snackbar</a>
            </li>
            <li>
              <a href="https://fontawesome.com" class="text-info">Font Awesome</a>
            </li>
            <li>
              <a href="https://fonts.google.com" class="text-info">Google Fonts</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <b>Boxes Lviv © <br> 2023</b>
  </div>
  <!-- Copyright -->
</footer>